<h2>Hello, this is the new component
  and this is reading data from query params
  above "fromHomePage:"{{fromHomePage.params.fromHomePage}}</h2>


<form #myForm="ngForm">
  <div><label>Username:* </label><input [(ngModel)]="model.username" type="text" value="" #username="ngModel"
                                        placeholder="username" name="username" id="username" required></div>
  <div class="error-display" *ngIf="username.errors && (username.dirty || username.touched)">Please enter username!</div>
  <div><label>Password:* </label><input type="password" [(ngModel)]="model.password" #password="ngModel" value=""
                                        placeholder="password" name="password" id="password" required></div>
  <div>
    <div class="error-display"  *ngIf="password.errors && (password.dirty || password.touched)">Please enter password!</div>
    <button [disabled]="!myForm.form.valid" name="Submit" value="Submit" (click)="saveDetails($event)">Submit</button>
  </div>
</form>
<br>
<br>
